aiohttp==3.7.4.post0
MAmino.py==3.1
async-timeout==3.0.1
attrs==21.2.0
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.3
greenlet==1.1.0
idna==3.2
JSON-minify==0.3.0
multidict==5.1.0
psycopg2-binary==2.9.1
requests==2.26.0
six==1.16.0
SQLAlchemy==1.4.21
typing-extensions==3.10.0.0
urllib3==1.26.6
websocket-client==0.57.0
websockets==9.1
yarl==1.6.3
